body {
  background-color: #f8d8a4;
  color: #000000;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 40vw;
  margin: auto;
  padding: 2rem;
}

h1, h2 {
  color: #000000;
  text-shadow: 1px 1px 3px #858585;
}

label {
  display: block;
  margin: 1rem 0;
}

input {
  padding: 0.5rem;
  background-color: #222;
  color: #eee;
  border: 1px solid #cc0000;
  border-radius: 4px;
}

button {
  margin: 1rem 0.5rem 0 0;
  padding: 0.5rem 1rem;
  background-color: #dfb921;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

pre {
  background: #222;
  padding: 1rem;
  border: 1px solid #cc0000;
  border-radius: 4px;
  overflow-x: auto;
  color: #0f0;
}

.imagem-lateral {
  position: fixed;
  top: 0;
  height: 100vh; /* altura total da tela */
  object-fit: cover;
  z-index: -1; /* para não cobrir o conteúdo */
}

.imagem-lateral.esquerda {
  left: 0;
  height: 70vh; /* altura da imagem lateral esquerda */
  top: 12vh; /* ajusta a posição vertical da imagem lateral esquerda */
}

.imagem-lateral.direita {
  right: 0;
  height: 70vh; /* altura da imagem lateral direita */
  top: 12vh; /* ajusta a posição vertical da imagem lateral direita */
}

.menu {
  margin: 1rem 0;
  padding: 1rem;
  position: flex;
  right: 7vw;
  top: 5vb;
  width: 20vw;
}

